.DayPickerInput-OverlayWrapper {
  font-size: 1rem;
  z-index: 20 !important;
}

.DayPicker-Day--today {
  color: #0d411a;
  font-weight: 700;
}

.DayPicker-Day--disabled {
  color: #d8d8d8;
  cursor: default;
}

.DayPicker-Weekday {
  display: table-cell;
  padding: 0.5em;
  color: #6e6e6e;
  text-align: center;
  font-size: 0.875em;
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: #76a384;
}
